{% extends 'base_generic.html' %}

{% block content %}
{% load static %}

<div class="pedidos-banner empty-cart"> <!--TODO fix this image, looks bad-->
    <span>Mis Pedidos</span>
</div>

<div class="mt-5 pt-4">
	{% if messages %}
	{% for message in messages %}
	<div class="alert alert-{{ message.tags }} alert-dismissible fade in" role="alert">
		{{ message }}
		<button type="button" class="close" data-dismiss="alert" aria-label="Close">
		  <span aria-hidden="true">&times;</span>
		</button>
	</div>
	{% endfor %}
	{% endif %}
</div>

{% if orders %}
<div class="container h-100 py-5">
 <div class="row d-flex justify-content-center align-items-center h-100">
    <div class="col">
      <div class="table-responsive">
        <table class="table" style="background-color: rgba(181, 181, 181, 0.238);">
        <thead>
            <tr>
            <th scope="col">Orden #</th>
            <th scope="col" style="width: 20%;">Productos</th> 
            <th scope="col" style="width: 20%;">Fecha de encargo</th>
            <th scope="col" style="width: 20%;">Valor total</th>
            </tr>
        </thead>
        <tbody>
            {% for order in orders %}
            <tr>
            <th scope="row" class="table-img">
                <div class="mb-2">
                    <p>{{ order.id }}</p>
                </div>
            </th>
            <th scope="row" class="table-data">
                <div class="flex-column ms-4">
                    {% for orderproduct in order.orderproduct_set.all %}
                    <p class="mb-2">{{ orderproduct }}</p>
                    {% endfor %}
                </div>
            </th>   
            <td class="table-data align-middle" >
                <p class="mb-0" style="font-weight: 500;">{{ order.ordered_date }}
                </p>
            </td>
            <td class="align-middle table-data">
                <p class="mb-0" style="font-weight: 500;">{{ order.final_price }}</p>
            </td>
            </tr>
            {% endfor %}
        </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

{% endif %}

{% endblock %}